asgiref==3.6.0
beautifulsoup4==4.12.0
bs4==0.0.1
certifi==2023.5.7
charset-normalizer==3.1.0
decorator==5.1.1
Django==4.1.7
django-browser-reload==1.7.0
django-taggit==3.1.0
django-tailwind==3.5.0
idna==3.4
Markdown==3.4.2
MarkupSafe==2.1.2
Pillow==9.5.0
Pygments==2.14.0
requests==2.30.0
soupsieve==2.4
sqlparse==0.4.3
urllib3==2.0.2
validators==0.20.0
