<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
    <title>Document</title>
</head>

<body class="bg-gray-50 flex flex-col min-h-screen">

    <!-- Header -->
    <header class="p-1 m-1">
        {% include 'navbar.html' %}
    </header>

    
    <main class="grid grid-cols-12 flex-auto gap-1">
        <!-- Left bar -->
        <div class="p-1 m-1 col-span-2">
            {% block leftbar %}
            {% endblock %}
        </div>

        <!-- Content -->
        <div class="p-1 m-1 col-span-8">
            {% block content %}
            {% endblock %}
        </div>

        <!-- Right bar -->
        <div class="p-1 m-1 col-span-2">
            {% block rightbar %}
            {% endblock %}
        </div>
    </main>

    <!-- Footer -->
    <footer class="p-1 m-1 bottom-0 ">
        {% block footer %}
        {% endblock %}

            <!-- Copyright section -->
        <div class=" p-1 m-1 flex justify-center items-center">
            <p class="text-center text-sm text-gray-500 my-3">
                &copy; 2022-2023 <a href="#" class="hover:underline" target="_blank">Obscurus</a>. All rights reserved.
            </p>
        </div>
    </footer>



</body>
</html>