<!DOCTYPE html>
<html lang="en">
<head>
    {% load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
    <title>{{ Message }}</title>
</head>

<body class="bg-gray-50 flex justify-center items-center h-screen">

    <main>
        <div>
            <h2 class="text-bold text-center text-4xl">{{ Message }}</h2>
            <h1 class="text-bold text-8xl">{{ Name }}</h1>
            <p class="text-center text-gray-500">Go to <a href="{% url 'Notes:index' %}" class="font-bold hover:text-sky-500 transition duration-200 ease select-none">Homepage</a></p>
        </div>

    </main>

    
</body>
</html>
