<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
    <title>Document</title>
</head>

<body class="bg-gray-50 flex flex-col min-h-screen">

    <main class="grid grid-cols-6 flex-auto">

        <div class="bg-white shadow col-span-2 flex flex-col justify-center items-center">
            <h2 class="text-center text-gray-800 text-8xl hover:text-sky-600 transition duration-200 ease select-none"><span class="font-bold uppercase">Obscurus</span></h2>
            <h2 class="text-center text-gray-500 text-3xl">Welcome to the <span class="uppercase font-bold hover:text-sky-600 transition duration-200 ease select-none">Portal</span></h2>
            <div class=" p-1 m-1 flex justify-center items-center">
                <p class="text-center text-sm text-gray-500 my-3">
                    &copy; 2022-2023 <a href="#" class="uppercase font-bold hover:text-sky-600 transition duration-200 ease select-none" target="_blank">Obscurus</a>. All rights reserved.
                </p>
            </div>
        </div>

        <div class="bg-gradient-to-tl from-sky-700 to-sky-400 col-span-4 flex justify-center items-center">
            <div class="bg-white p-5 shadow rounded-md flex justify-start items-center">
                <form class="m-4">
                    <label class="block text-gray-700 text-sm font-bold my-2" for="username">
                        Username
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 focus:outline-none focus:ring-offset-1 focus:ring focus:border-3" id="username" type="text" placeholder="Username">
                
                    <label class="block text-gray-700 text-sm font-bold my-2" for="password">
                        Password
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 focus:outline-none focus:ring-offset-1 focus:ring focus:border-3" id="password" type="password" placeholder="*******">
        

                    <button
                        type="submit"
                        class="
                        border border-sky-500 bg-sky-500 
                        text-white 
                        rounded-md 
                        px-4 py-2 
                        my-3 
                        transition duration-500 ease select-none 
                        hover:bg-sky-600 
                        focus:outline-none focus:shadow-outline
                        ">
                        Login
                    </button>
                    
                </form>
            </div>
        </div>

    </main>

    
</body>
</html>