
<nav class="bg-white px-12 py-2 shadow rounded-md flex justify-between items-center">
    <div class="flex justify-start m-2">
        <div>
            <a class="flex-none mr-6 font-bold rounded-md p-3 hover:shadow transition duration-200 hover:text-{{ Theme }}-500" href="{% url 'index' %}"><span class="font-bold uppercase">Obscurus</span></a>
        </div>
    
        <div>
            <a class="px-2 m-1 py-3 rounded-md hover:shadow transition duration-200 ease select-none hover:text-{{ Theme }}-500" href="{% url 'Notes:index' %}">Notes</a>
        </div>
    </div>

    {% if user.is_authenticated %}
    <div>
        <div class="flex justify-self-stretch m-2">
            <p class="m-1">Welcome <span class="font-bold hover:text-sky-500 transition duration-200 ease select-none italic">{{ user }}</span>,</p>
            <p class="m-1 hover:text-red-500 transition duration-200 ease select-none"><a href="{% url 'logout' %}">Logout</a></p>
        </div>
    </div>
    {% endif %}

</nav>